{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <title>Website Wildan</title>
    <link rel="stylesheet" href= "{% static "css/mystyle.css" %}">
    <link rel="stylesheet" href= "{% static "css/bootstrap.css" %}">
    <style>
        
        .body{
            background-image: url("{% static "assets/background2 (2).jpg" %}");
        }   
        .menubar{
            background-color: #F9B77B;
        }

    </style>
</head>
<body>
    <section class= "body">
        <img src="{% static "assets/skills.png" %}" id="skill";>
        <div>
            <img src="{% static "assets/wildan.jpg" %}" class="image";>
        </div>
        <div>
            <img src="{% static "assets/about.png" %}" id="desc";>
        </div>
    <div class="menubar">
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/contact">Contact</a>
    </div>
    </section>
</body>
</html>